* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: nyt-imperial,georgia,'times new roman',times,serif;
}
/*
    the heading section
*/
.header{
    background-color: red;
    color: white;
    height: 40px;
    padding-top: 10px;
}
.links{
    font-size: 18px;
    line-height: 20px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 4px;
    margin-bottom: 4px;
}
.login{
    color: white;
    border: 0pc;
    background-color: red;
}
.subscribe{
    border-radius: 15px;
    background-color: yellow;
    border: 2px solid yellow;
}
/*
    the nav links
*/
/* Modify the backgorund color */ 
.navbar-custom{ 
    font-size: 15px;
    font-weight: bold; 
    color: black;
    padding-bottom: 10px;
} 
.vl{
    border-left: 2px solid gray;
    height: 25px;
}